NEO4J_URI="bolt://localhost:7687"
NEO4J_USER=neo4j
NEO4J_PASS=supersecret123

MODEL_DIR=./models/ner_model

OCR4ALL_ORIGIN=http://localhost:8080
OCR4ALL_REFERER=http://localhost:8080/ocr4all/ProcessFlow
